.cursor {
  cursor: pointer;
}
.mobile-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mobile-menu span {
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.mobile-menu span:hover {
  color: #ccc;
}
@media (max-width: 576px) {
  .mobile-menu {
    padding: 10px;
  }
  #projects {
    height: 200vh;
  }

  header {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .contactwidth {
    width: 90%;
  }
}

@media (min-width: 577px) {
  #projects {
    height: 100vh;
  }
  .contactwidth {
    width: 400px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-optical-sizing: auto;
}

.oswald-name {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}

.frontcoloe {
  color: #ccc;
}
.namesize {
  font-size: 50px;
  color: black;
}
.hicolor {
  color: rgba(22, 21, 21, 0.9);
}

html {
  scroll-behavior: smooth;
}
.invisible {
  opacity: 0;
  transform: translateY(50px);
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 3s ease-out, transform 1s ease-out;
}
.jacques-francois-shadow-regular {
  font-family: "Jacques Francois Shadow", serif;
  font-weight: 400;
  font-style: normal;
}

.skillsgradient {
  background: #2bc0e4;
  background: -webkit-linear-gradient(to right, #eaecc6, #2bc0e4);
  background: linear-gradient(to right, #eaecc6, #2bc0e4);
}

.skillsgradient {
  background: linear-gradient(45deg, #2bc0e4, #eaecc6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skillsgradient:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, #1d2b64, #f8cdda);
  color: white;
  box-shadow: 0px 0px 15px rgb(110, 14, 14);
}

#skills {
  padding-top: 60px;
  /* background-color: #f0f0f0; */
  height: 100vh;
}

.skillsgradient img {
  transition: transform 0.3s ease;
}

.skillsgradient:hover img {
  transform: rotate(360deg);
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.skillscolor {
  color: rgb(173, 101, 41);
}

.scrollhidden::-webkit-scrollbar {
  display: none;
}
.translate-up {
  transition: transform 0.5s ease;
  transform: translateY(250px);
}

.border:hover .translate-up {
  transform: translateY(-0px);
}

.highlighted-link {
  border-bottom: 1px solid #007bff;
}

.loading {
  transform: translateY(-200px);
}
/* .loader {
  width: 32px;
  height: 90px;
  display: block;
  margin: 20px auto;
  position: relative;
  border-radius: 50% 50% 0 0;
  border-bottom: 10px solid #ff3d00;
  background-color: #fff;
  background-image: radial-gradient(
      ellipse at center,
      #fff 34%,
      #ff3d00 35%,
      #ff3d00 54%,
      #fff 55%
    ),
    linear-gradient(#ff3d00 10px, transparent 0);
  background-size: 28px 28px;
  background-position: center 20px, center 2px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: animloaderBack 1s linear infinite alternate;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 44px;
  border-radius: 50%;
  box-shadow: 0px 15px #ff3d00 inset;
  top: 67px;
}
.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 34px;
  height: 34px;
  top: 112%;
  background: radial-gradient(
    ellipse at center,
    #ffdf00 8%,
    rgba(249, 62, 0, 0.6) 24%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 50% 50% 0;
  background-repeat: no-repeat;
  background-position: -44px -44px;
  background-size: 100px 100px;
  box-shadow: 4px 4px 12px 0px rgba(255, 61, 0, 0.5);
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloaderBack {
  0%,
  30%,
  70% {
    transform: translateY(0px);
  }
  20%,
  40%,
  100% {
    transform: translateY(-5px);
  }
}

@keyframes animloader {
  0% {
    box-shadow: 4px 4px 12px 2px rgba(255, 61, 0, 0.75);
    width: 34px;
    height: 34px;
    background-position: -44px -44px;
    background-size: 100px 100px;
  }
  100% {
    box-shadow: 2px 2px 8px 0px rgba(255, 61, 0, 0.5);
    width: 30px;
    height: 28px;
    background-position: -36px -36px;
    background-size: 80px 80px;
  }
} */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #f31111;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #f10505;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
